In [174]:
#import csv
import pandas as pd
#import numpy as np
import pyarrow as pa
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

import my_functions
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Carga de datasets a utilizar para generar las funciones

In [175]:
# Cargar el archivo CSV en un DataFrame
df_games = pd.read_csv('Datasets/Datasets ETL/steam_games_v2.csv')
# Cargar el archivo CSV en un DataFrame
df_reviews = pd.read_csv('Datasets/Datasets ETL/user_reviews_v1.csv')
# Cargar el archivo CSV en un DataFrame
df_items = pd.read_csv('Datasets/Datasets ETL/user_items_v2.csv')

## df_games_names

In [176]:
# Seleccionar las columnas 'game_id' y 'app_name' de df_games_data
df_games_names = df_games[['game_id', 'app_name']].copy()

# Convertir el campo 'game_id' a tipo string
df_games_names['game_id'] = df_games_names['game_id'].astype(str)
#df_games_names.set_index('game_id', inplace=True)

In [177]:
df_games_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31332 entries, 0 to 31331
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   game_id   31332 non-null  object
 1   app_name  31332 non-null  object
dtypes: object(2)
memory usage: 489.7+ KB

In [178]:
# Exportar a formato CSV
df_games_names.to_csv('Datasets/Datasets final/df_games_names.csv', index=False)

In [179]:
pd.reset_option('display.max_rows')
df_games_names

      game_id                  app_name
0      761140       Lost Summoner Kitty
1      643980                 Ironbound
2      670290   Real Pool 3D - Poolians
3      767400                   弹炸人2222
4      773570             Log Challenge
...       ...                       ...
31327  773640            Colony On Mars
31328  733530  LOGistICAL: South Africa
31329  610660             Russian Roads
31330  658870       EXIT 2 - Directions
31331  681550               Maze Run VR

[31332 rows x 2 columns]

## Machine Learning

En esta etapa se trabajará sobre los datos necesarios para responder a 2 funciones de recomendación:
- 'def recomendacion_juego': ingresando el id de un producto, deberíamos recibir una lista con 5 juegos recomendados similares al ingresado.

- 'def recomendacion_usuario': ingresando el id de un usuario, deberíamos recibir una lista con 5 juegos recomendados para dicho usuario.

Para ello se aplicará un algoritmo de similitud del coseno, generando matrices de similitud entre juegos y entre usuarios.

## Recomendación de juegos

## df_games_data

In [180]:
# Completar la columna 'app_name'
df_games_data = df_games[['game_id', 'app_name']]

# Completar la columna 'playtime' desde df_items
playtime_by_game = df_items.groupby('game_id')['playtime_forever'].sum()
df_games_data = pd.merge(df_games_data, playtime_by_game, on='game_id', how='left')
df_games_data = df_games_data.rename(columns={'playtime_forever': 'playtime'})

# Completar las columnas 'neg_rec' y 'pos_rec' desde df_reviews
df_reviews['neg_rec'] = ((df_reviews['recommend'] == False) & ((df_reviews['sentiment'] == 0) | df_reviews['sentiment'].isnull())).astype(int)
df_reviews['pos_rec'] = ((df_reviews['recommend'] == True) & ((df_reviews['sentiment'] == 1) | (df_reviews['sentiment'] == 2) | df_reviews['sentiment'].isnull())).astype(int)

# Sumar los valores por 'game_id'
neg_rec_counts = df_reviews.groupby('game_id')['neg_rec'].sum().reset_index()
pos_rec_counts = df_reviews.groupby('game_id')['pos_rec'].sum().reset_index()

# Completar las columnas 'neg_rec' y 'pos_rec' en df_games_data
df_games_data = pd.merge(df_games_data, neg_rec_counts, on='game_id', how='left')
df_games_data = pd.merge(df_games_data, pos_rec_counts, on='game_id', how='left')

# Rellenar con ceros los valores nulos después de la fusión
df_games_data[['neg_rec', 'pos_rec']] = df_games_data[['neg_rec', 'pos_rec']].fillna(0).astype(int)

# Agregar la columna 'total_rec' 
df_games_data['total_rec'] = df_games_data['neg_rec'] + df_games_data['pos_rec']

# Completar las columnas con prefijo 'gnr_' desde df_games
gnr_columns = [col for col in df_games.columns if col.startswith('gnr_')]

# Renombrar las columnas antes de unirlas
# rename_dict = {col: f"{col}_games" for col in gnr_columns}
df_games_data = pd.merge(df_games_data, df_games[['game_id'] + gnr_columns], on='game_id', how='left')

# Completar los campos con valor nulo
# df_games_selection[['app_name']] = df_games_selection[['app_name']].fillna('Sin Datos')
df_games_data = df_games_data.fillna(0)

# Convertir las columnas a los tipos especificados
df_games_data = df_games_data.astype({
    'game_id': 'string',
    'playtime': int
})

# Convertir las columnas gnr_ a tipo int
gnr_columns = [col for col in df_games_data.columns if col.startswith('gnr_')]
df_games_data[gnr_columns] = df_games_data[gnr_columns].astype(int)

In [181]:
# Convertir el campo 'game_id' a tipo int
#df_games_data['game_id'] = df_games_data['game_id'].astype(int)

# Resetear indice
df_games_data = df_games_data.reset_index(drop=True)
df_games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31332 entries, 0 to 31331
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    31332 non-null  string
 1   app_name                   31332 non-null  object
 2   playtime                   31332 non-null  int32
 3   neg_rec                    31332 non-null  int32
 4   pos_rec                    31332 non-null  int32
 5   total_rec                  31332 non-null  int32
 6   gnr_Action                 31332 non-null  int32
 7   gnr_Adventure              31332 non-null  int32
 8   gnr_Casual                 31332 non-null  int32
 9   gnr_Early Access           31332 non-null  int32
 10  gnr_Free to Play           31332 non-null  int32
 11  gnr_Indie                  31332 non-null  int32
 12  gnr_Massively Multiplayer  31332 non-null  int32
 13  gnr_RPG                    31332 non-null  int32
 14  gnr_Racing                 31332 non-null  int32
 15  gnr_Simulation             31332 non-null  int32
 16  gnr_Sports                 31332 non-null  int32
 17  gnr_Strategy               31332 non-null  int32
dtypes: int32(16), object(1), string(1)
memory usage: 2.4+ MB

Reservamos información actual de df_games_data en df_games_selection para luego trabajar sobre esté último.

In [182]:
# Obtener las columnas que comienzan con 'gnr_'
gnr_columns = [col for col in df_games_data.columns if col.startswith('gnr_')]

# Filtrar las filas donde todas las columnas 'gnr_' tengan valor 0
df_games_selection = df_games_data[~(df_games_data[gnr_columns] == 0).all(axis=1)]

Continuamos trabajando sobre df_games_data.

In [183]:
# Tomar solo las columnas necesarias de df_games
cols_to_keep = ['game_id', 'app_name', 'playtime'] + [col for col in df_games.columns if col.startswith('gnr_')]
df_games_data = df_games_data[cols_to_keep].copy()

# Filtrar filas donde todas las columnas 'gnr_' sean 0
df_games_data = df_games_data[df_games_data.filter(like='gnr_').sum(axis=1) > 0]

# Establecer 'game_id' como índice
# df_games_data.set_index('game_id', inplace=True)

# Resetear indice
df_games_data = df_games_data.reset_index(drop=True)

In [184]:
df_games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28050 entries, 0 to 28049
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    28050 non-null  string
 1   app_name                   28050 non-null  object
 2   playtime                   28050 non-null  int32
 3   gnr_Action                 28050 non-null  int32
 4   gnr_Adventure              28050 non-null  int32
 5   gnr_Casual                 28050 non-null  int32
 6   gnr_Early Access           28050 non-null  int32
 7   gnr_Free to Play           28050 non-null  int32
 8   gnr_Indie                  28050 non-null  int32
 9   gnr_Massively Multiplayer  28050 non-null  int32
 10  gnr_RPG                    28050 non-null  int32
 11  gnr_Racing                 28050 non-null  int32
 12  gnr_Simulation             28050 non-null  int32
 13  gnr_Sports                 28050 non-null  int32
 14  gnr_Strategy               28050 non-null  int32
dtypes: int32(13), object(1), string(1)
memory usage: 1.8+ MB

In [185]:
# Calcular el percentil 85 de playtime
playtime_threshold = df_games_data['playtime'].quantile(0.85)

# Filtrar las filas con playtime mayor que el percentil 85
df_games_data = df_games_data[df_games_data['playtime'] > playtime_threshold].reset_index(drop=True)

In [186]:
# Eliminar la columna 'playtime'
df_games_data = df_games_data.drop(columns=['playtime'])

In [187]:
df_games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208 entries, 0 to 4207
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    4208 non-null   string
 1   app_name                   4208 non-null   object
 2   gnr_Action                 4208 non-null   int32
 3   gnr_Adventure              4208 non-null   int32
 4   gnr_Casual                 4208 non-null   int32
 5   gnr_Early Access           4208 non-null   int32
 6   gnr_Free to Play           4208 non-null   int32
 7   gnr_Indie                  4208 non-null   int32
 8   gnr_Massively Multiplayer  4208 non-null   int32
 9   gnr_RPG                    4208 non-null   int32
 10  gnr_Racing                 4208 non-null   int32
 11  gnr_Simulation             4208 non-null   int32
 12  gnr_Sports                 4208 non-null   int32
 13  gnr_Strategy               4208 non-null   int32
dtypes: int32(12), object(1), string(1)
memory usage: 263.1+ KB

## Filtros

## df_games_selection

Primero se trabaja sobre el dataset con la información necesaria para la comparación entre juegos.

In [188]:
df_games_selection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28050 entries, 0 to 31330
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    28050 non-null  string
 1   app_name                   28050 non-null  object
 2   playtime                   28050 non-null  int32
 3   neg_rec                    28050 non-null  int32
 4   pos_rec                    28050 non-null  int32
 5   total_rec                  28050 non-null  int32
 6   gnr_Action                 28050 non-null  int32
 7   gnr_Adventure              28050 non-null  int32
 8   gnr_Casual                 28050 non-null  int32
 9   gnr_Early Access           28050 non-null  int32
 10  gnr_Free to Play           28050 non-null  int32
 11  gnr_Indie                  28050 non-null  int32
 12  gnr_Massively Multiplayer  28050 non-null  int32
 13  gnr_RPG                    28050 non-null  int32
 14  gnr_Racing                 28050 non-null  int32
 15  gnr_Simulation             28050 non-null  int32
 16  gnr_Sports                 28050 non-null  int32
 17  gnr_Strategy               28050 non-null  int32
dtypes: int32(16), object(1), string(1)
memory usage: 2.4+ MB

In [189]:
# Eliminar filas donde neg_rec > pos_rec
df_games_selection = df_games_selection[df_games_selection['neg_rec'] < df_games_selection['pos_rec']]

In [190]:
df_games_selection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2519 entries, 27 to 31314
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    2519 non-null   string
 1   app_name                   2519 non-null   object
 2   playtime                   2519 non-null   int32
 3   neg_rec                    2519 non-null   int32
 4   pos_rec                    2519 non-null   int32
 5   total_rec                  2519 non-null   int32
 6   gnr_Action                 2519 non-null   int32
 7   gnr_Adventure              2519 non-null   int32
 8   gnr_Casual                 2519 non-null   int32
 9   gnr_Early Access           2519 non-null   int32
 10  gnr_Free to Play           2519 non-null   int32
 11  gnr_Indie                  2519 non-null   int32
 12  gnr_Massively Multiplayer  2519 non-null   int32
 13  gnr_RPG                    2519 non-null   int32
 14  gnr_Racing                 2519 non-null   int32
 15  gnr_Simulation             2519 non-null   int32
 16  gnr_Sports                 2519 non-null   int32
 17  gnr_Strategy               2519 non-null   int32
dtypes: int32(16), object(1), string(1)
memory usage: 216.5+ KB

In [191]:
# Filtrar y mantener solo las filas donde playtime no sea 0
df_games_selection = df_games_selection[df_games_selection['playtime'] > 0]
df_games_selection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2312 entries, 27 to 31314
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    2312 non-null   string
 1   app_name                   2312 non-null   object
 2   playtime                   2312 non-null   int32
 3   neg_rec                    2312 non-null   int32
 4   pos_rec                    2312 non-null   int32
 5   total_rec                  2312 non-null   int32
 6   gnr_Action                 2312 non-null   int32
 7   gnr_Adventure              2312 non-null   int32
 8   gnr_Casual                 2312 non-null   int32
 9   gnr_Early Access           2312 non-null   int32
 10  gnr_Free to Play           2312 non-null   int32
 11  gnr_Indie                  2312 non-null   int32
 12  gnr_Massively Multiplayer  2312 non-null   int32
 13  gnr_RPG                    2312 non-null   int32
 14  gnr_Racing                 2312 non-null   int32
 15  gnr_Simulation             2312 non-null   int32
 16  gnr_Sports                 2312 non-null   int32
 17  gnr_Strategy               2312 non-null   int32
dtypes: int32(16), object(1), string(1)
memory usage: 198.7+ KB

In [192]:
# Seleccionar columnas 'app_name' y 'gnr_'
cols_to_select = ['game_id', 'app_name'] + [col for col in df_games_selection.columns if col.startswith('gnr_')]
df_games_selection = df_games_selection[cols_to_select].copy()
df_games_selection = df_games_selection.reset_index(drop=True)

In [193]:
df_games_selection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    2312 non-null   string
 1   app_name                   2312 non-null   object
 2   gnr_Action                 2312 non-null   int32
 3   gnr_Adventure              2312 non-null   int32
 4   gnr_Casual                 2312 non-null   int32
 5   gnr_Early Access           2312 non-null   int32
 6   gnr_Free to Play           2312 non-null   int32
 7   gnr_Indie                  2312 non-null   int32
 8   gnr_Massively Multiplayer  2312 non-null   int32
 9   gnr_RPG                    2312 non-null   int32
 10  gnr_Racing                 2312 non-null   int32
 11  gnr_Simulation             2312 non-null   int32
 12  gnr_Sports                 2312 non-null   int32
 13  gnr_Strategy               2312 non-null   int32
dtypes: int32(12), object(1), string(1)
memory usage: 144.6+ KB

In [194]:
df_games_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4208 entries, 0 to 4207
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    4208 non-null   string
 1   app_name                   4208 non-null   object
 2   gnr_Action                 4208 non-null   int32
 3   gnr_Adventure              4208 non-null   int32
 4   gnr_Casual                 4208 non-null   int32
 5   gnr_Early Access           4208 non-null   int32
 6   gnr_Free to Play           4208 non-null   int32
 7   gnr_Indie                  4208 non-null   int32
 8   gnr_Massively Multiplayer  4208 non-null   int32
 9   gnr_RPG                    4208 non-null   int32
 10  gnr_Racing                 4208 non-null   int32
 11  gnr_Simulation             4208 non-null   int32
 12  gnr_Sports                 4208 non-null   int32
 13  gnr_Strategy               4208 non-null   int32
dtypes: int32(12), object(1), string(1)
memory usage: 263.1+ KB

In [195]:
'''
# backup
df1 = df_games_data
df2 = df_games_selection
'''

'\n# backup\ndf1 = df_games_data\ndf2 = df_games_selection\n'

In [196]:
'''
# Exportar a formato XLSX
df_games_data.to_excel('Datasets/Datasets final/df_games_selection.xlsx', index=False)

# Exportar a formato CSV
df_games_data.to_csv('Datasets/Datasets final/df_games_selection.csv', index=False)

# Exportar a formato Parquet
df_games_data.to_parquet('Datasets/Datasets final/df_games_selection.parquet', index=False)

# Exportar a formato XLSX
df_games_selection.to_excel('Datasets/Datasets final/df_games_selection.xlsx', index=False)

# Exportar a formato CSV
df_games_selection.to_csv('Datasets/Datasets final/df_games_selection.csv', index=False)

# Exportar a formato Parquet
df_games_selection.to_parquet('Datasets/Datasets final/df_games_selection.parquet', index=False)
'''

"\n# Exportar a formato XLSX\ndf_games_data.to_excel('Datasets/Datasets final/df_games_selection.xlsx', index=False)\n\n# Exportar a formato CSV\ndf_games_data.to_csv('Datasets/Datasets final/df_games_selection.csv', index=False)\n\n# Exportar a formato Parquet\ndf_games_data.to_parquet('Datasets/Datasets final/df_games_selection.parquet', index=False)\n\n# Exportar a formato XLSX\ndf_games_selection.to_excel('Datasets/Datasets final/df_games_selection.xlsx', index=False)\n\n# Exportar a formato CSV\ndf_games_selection.to_csv('Datasets/Datasets final/df_games_selection.csv', index=False)\n\n# Exportar a formato Parquet\ndf_games_selection.to_parquet('Datasets/Datasets final/df_games_selection.parquet', index=False)\n"

## Modelo

In [197]:
df_games_data.shape

(4208, 14)

In [198]:
df_games_selection.shape

(2312, 14)

## df_games_similarity

In [199]:
cols_for_similarity = [col for col in df_games_data.columns if col.startswith('gnr_')]

# Seleccionar las filas que contienen datos para las columnas seleccionadas
df_games_data_model = df_games_data[['game_id'] + cols_for_similarity]

# Seleccionar las columnas que contienen datos para las columnas seleccionadas
df_games_selection_model = df_games_selection[['game_id'] + cols_for_similarity]

# Establecer 'game_id' como índice
df_games_data_model.set_index('game_id', inplace=True)
df_games_selection_model.set_index('game_id', inplace=True)

In [200]:
# Calcular la matriz de similitud del coseno
similarity_matrix = cosine_similarity(df_games_data_model, df_games_selection_model)

# Crear un DataFrame con la matriz de similitud
df_games_similarity = pd.DataFrame(similarity_matrix, index=df_games_data_model.index, columns=df_games_selection_model.index)

In [201]:
df_games_similarity.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4208 entries, 282010 to 80
Columns: 2312 entries, 282010 to 80
dtypes: float64(2312)
memory usage: 74.3 MB

In [202]:
df_games_similarity.head(5)

game_id,282010,70,2400,3800,1520,2420,4000,6210,2990,6220,...,3320,20,50,60,10,40,130,30,13230,80
game_id,,,,,,,,,,,,,,,,,,,,,
282010,1.000000,0.57735,0.666667,0.57735,0.408248,0.666667,0.408248,0.0,0.57735,0.57735,...,0.0,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735
70,0.577350,1.00000,0.577350,1.00000,0.000000,0.577350,0.000000,0.0,0.00000,0.00000,...,0.0,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000
1640,0.000000,0.00000,0.000000,0.00000,0.707107,0.000000,0.000000,1.0,0.00000,0.00000,...,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1630,0.000000,0.00000,0.000000,0.00000,0.707107,0.000000,0.000000,1.0,0.00000,0.00000,...,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2400,0.666667,0.57735,1.000000,0.57735,0.408248,1.000000,0.408248,0.0,0.00000,0.00000,...,0.0,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735

In [203]:
# Exportar a formato Parquet manteniendo los índices
df_games_similarity.to_parquet('Datasets/Datasets final/df_games_similarity.parquet', index=True)

# Exportar a formato Parquet manteniendo los índices
df_games_similarity.to_parquet('FastAPi/Datasets/df_games_similarity.parquet', index=True)

In [204]:
# Exportar 
df_games_names.to_csv('Datasets/Datasets final/df_games_names.csv', index=False)

# Exportar 
df_games_names.to_csv('FastAPI/Datasets/df_games_names.csv', index=False)

In [205]:


# Cargar el archivo csv en un DataFrame
df_games_names = pd.read_csv('FastAPI/Datasets/df_games_names.csv')

# Convertir el campo 'game_id' a tipo string
df_games_names['game_id'] = df_games_names['game_id'].astype(str)

df_games_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31332 entries, 0 to 31331
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   game_id   31332 non-null  object
 1   app_name  31332 non-null  object
dtypes: object(2)
memory usage: 489.7+ KB

## def recomendacion_juego

In [206]:
# v14

def recomendacion_juego(game_id:str, num_recommendations=5):

    game_name = df_games_names.loc[df_games_names['game_id'] == game_id, 'app_name'].values[0]

    # Convertir el campo 'game_id' a tipo string
    df_games_names['game_id'] = df_games_names['game_id'].astype(str)

    # Obtener la serie de juegos similares, excluir el game_id introducido 
    similar_games = df_games_similarity.drop(game_id).loc[:, game_id].sort_values(ascending=False)

    # Tomar las primeras num_recommendations recomendaciones
    recommendations = similar_games.head(num_recommendations).index.tolist()

    recommended_games = df_games_names.loc[df_games_names['game_id'].isin(recommendations), ['game_id', 'app_name']].reset_index(drop=True)

    recommended_games = recommended_games[['game_id', 'app_name']].to_dict(orient='records')

    message = f"Juegos similares a {game_name} (game_id {game_id}):"

    result = f"{message}", recommended_games
    
    return result


# Ejemplo de uso
game_id_input = '282010'
recommendations = recomendacion_juego(game_id_input)
recommendations

('Juegos similares a Carmageddon Max Pack (game_id 282010):',
 [{'game_id': '302710', 'app_name': 'BlazeRush'},
  {'game_id': '324070', 'app_name': 'iO'},
  {'game_id': '331650', 'app_name': 'Carmageddon TDR 2000'},
  {'game_id': '308580', 'app_name': 'Orborun'},
  {'game_id': '220820', 'app_name': 'Zombie Driver HD'}])

In [207]:
# v13
# (derivada de v12)


def recomendacion_juego(game_id:str, num_recommendations=5):
    #game_id = str(game_id)

    game_name = df_games_names.loc[df_games_names['game_id'] == game_id, 'app_name'].values[0]

    # Convertir el campo 'game_id' a tipo string
    df_games_names['game_id'] = df_games_names['game_id'].astype(str)

    # Obtener la serie de juegos similares ordenados por similitud
    # similar_games = df_games_similarity.loc[game_id].sort_values(ascending=False)
    
    # Obtener la serie de juegos similares, excluir el game_id introducido    
    similar_games = df_games_similarity.drop(game_id).loc[:, game_id].sort_values(ascending=False)

    # Tomar las primeras num_recommendations recomendaciones
    recommendations = similar_games.head(num_recommendations).index.tolist()

    # Obtener los nombres de los juegos recomendados
    #recommended_games = df_games_names.loc[df_games_names['game_id'].isin(recommendations), 'app_name']#.to_dict() #.tolist()

    recommended_games = df_games_names.loc[df_games_names['game_id'].isin(recommendations), ['game_id', 'app_name']].reset_index(drop=True)

    recommended_games = recommended_games[['game_id', 'app_name']].to_dict(orient='records')
    
    

    #{"Los juegos recomendados son: ": recommendations}    
    # recommended_games = dict(recommended_games)

    #recommended_games_dict = dict(zip(recommendations, recommended_games))
    
    # Concatenar game_id y app_name en la lista recommendations
    # recommendations = list(zip(recommendations, recommended_games))
    
    # Convertir la lista de tuplas a un diccionario
    # recommendations = dict(recommendations)

    # recommendations = print(recommended_games)

    #result = {
    #    'Los juegos recomendados para game_id ': game_id,
    #    'son :': recommendations
    #}

    # recommendations = result
    
    # return {"Los juegos recomendados son: ": recommendations}

    result = f"Los juegos mas recomendados para {game_name} (game_id {game_id}) son:{recommended_games}"
    
    return result
    
    #return {"Los juegos mas recomendados para game_id":message,
    #        "son":recommended_games}

#recommended_games_dict #recommendations#, 





# Ejemplo de uso
game_id_input = '282010'
recommendations = recomendacion_juego(game_id_input)
recommendations

"Los juegos mas recomendados para Carmageddon Max Pack (game_id 282010) son:[{'game_id': '302710', 'app_name': 'BlazeRush'}, {'game_id': '324070', 'app_name': 'iO'}, {'game_id': '331650', 'app_name': 'Carmageddon TDR 2000'}, {'game_id': '308580', 'app_name': 'Orborun'}, {'game_id': '220820', 'app_name': 'Zombie Driver HD'}]"

## Ejemplo para comparar generos

In [208]:
# Ejemplo de prueba
game_id_to_recommend = '13230'
recommendations = recomendacion_juego(game_id_to_recommend, num_recommendations=5)
recommendations

"Los juegos mas recomendados para Unreal Tournament 2004: Editor's Choice Edition (game_id 13230) son:[{'game_id': '12100', 'app_name': 'Grand Theft Auto III'}, {'game_id': '55100', 'app_name': 'Homefront'}, {'game_id': '382420', 'app_name': 'E.T. Armies'}, {'game_id': '222440', 'app_name': 'THE KING OF FIGHTERS 2002 UNLIMITED MATCH'}, {'game_id': '80', 'app_name': 'Counter-Strike: Condition Zero'}]"

## Recomendación usuario - item

In [209]:
df_items.head(1)

   game_id        app_name  playtime_forever            user_id
0       10  Counter-Strike                 6  76561197970982479

In [210]:
my_functions.describe_df(df_items)

Cantidad Registros:  4568172
Cantidad Campos:  4

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,int64,0,0.0,4568172,100.0,10854,0.24
1,app_name,object,0,0.0,4568172,100.0,10823,0.24
2,playtime_forever,int64,0,0.0,4568172,100.0,9568,0.21
3,user_id,object,0,0.0,4568172,100.0,70827,1.55

## df_usr_data

In [211]:
# Seleccionar solo las columnas requeridas
df_usr_data = df_items[['game_id', 'playtime_forever', 'user_id']]

# Convertir la columna 'game_id' a tipo de dato str
df_usr_data['game_id'] = df_usr_data['game_id'].astype(str)

# Ordenar por user_id y playtime_forever
df_usr_data = df_usr_data.sort_values(by=['user_id', 'playtime_forever'], ascending=[True, False]).groupby('user_id').head(3)

C:\Users\matia\AppData\Local\Temp\ipykernel_2428\3232639551.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usr_data['game_id'] = df_usr_data['game_id'].astype(str)

In [212]:
# Realizar la concatenación y el filtrado
#df_usr_data = pd.merge(df_usr_data, df_games_data[['game_id']], on='game_id', how='inner')

In [213]:
# Configurar la opción para mostrar todas las filas
pd.set_option('display.max_rows', None)
#pd.reset_option('display.max_rows')

# Imprimir el DataFrame resultante
df_usr_data.head(15)

        game_id  playtime_forever            user_id
1552359  304930              4037            --000--
1552324    1250              2949            --000--
1552335  113400              2763            --000--
4527742  304930              2959            --ace--
4527734  250900              1706            --ace--
4527723  113200              1269            --ace--
2353460   42690              8335          --ionex--
2353458  105600               842          --ionex--
2353454   10190               694          --ionex--
3453983  239140              3032       -2SV-vuLB-Kg
3453985  338050              1941       -2SV-vuLB-Kg
3453972  294020              1848       -2SV-vuLB-Kg
4253522  212910              1528  -404PageNotFound-
4253546  243870              1528  -404PageNotFound-
4253537  226700              1452  -404PageNotFound-

In [214]:
my_functions.describe_df(df_usr_data)

Cantidad Registros:  203914
Cantidad Campos:  3

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,object,0,0.0,203914,100.0,3467,1.70
1,playtime_forever,int64,0,0.0,203914,100.0,9568,4.69
2,user_id,object,0,0.0,203914,100.0,70827,34.73

In [215]:
# Eliminar la columna 'playtime_forever'
df_usr_data = df_usr_data.drop('playtime_forever', axis=1)

In [216]:
my_functions.describe_df(df_usr_data)

Cantidad Registros:  203914
Cantidad Campos:  2

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,object,0,0.0,203914,100.0,3467,1.70
1,user_id,object,0,0.0,203914,100.0,70827,34.73

In [217]:
# Agrupar por 'user_id' y contar la cantidad de registros para cada grupo
df_usr_data_count = df_usr_data.groupby('user_id').count().reset_index()

pd.reset_option('display.max_rows')
df_usr_data_count

                 user_id  game_id
0                --000--        3
1                --ace--        3
2              --ionex--        3
3           -2SV-vuLB-Kg        3
4      -404PageNotFound-        3
...                  ...      ...
70822             zzonci        3
70823        zzoptimuszz        3
70824            zzydrax        3
70825              zzyfo        3
70826         zzzmidmiss        3

[70827 rows x 2 columns]

In [218]:
# Borrar registros en df_usr_data_count donde game_id sea menor a 3
df_usr_data_count = df_usr_data_count[df_usr_data_count['game_id'] >= 3]

In [219]:
my_functions.describe_df(df_usr_data_count)

Cantidad Registros:  65623
Cantidad Campos:  2

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,user_id,object,0,0.0,65623,100.0,65623,100.0
1,game_id,int64,0,0.0,65623,100.0,1,0.0

In [220]:
# Quedarse solo con registros en df_usr_data que compartan user_id con df_usr_data_count_filtered
df_usr_data = df_usr_data[df_usr_data['user_id'].isin(df_usr_data_count['user_id'])]

In [221]:
my_functions.describe_df(df_usr_data)

Cantidad Registros:  196869
Cantidad Campos:  2

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,object,0,0.0,196869,100.0,3428,1.74
1,user_id,object,0,0.0,196869,100.0,65623,33.33

In [222]:
df_usr_data

        game_id     user_id
1552359  304930     --000--
1552324    1250     --000--
1552335  113400     --000--
4527742  304930     --ace--
4527734  250900     --ace--
...         ...         ...
1599564  110800       zzyfo
1599592  239820       zzyfo
3884987   49520  zzzmidmiss
3884977   50130  zzzmidmiss
3884994  219150  zzzmidmiss

[196869 rows x 2 columns]

In [223]:
# Quedarse con los primeros 3000 usuarios
df_usr_data = df_usr_data.head(9000)

In [224]:
df_usr_data

        game_id            user_id
1552359  304930            --000--
1552324    1250            --000--
1552335  113400            --000--
4527742  304930            --ace--
4527734  250900            --ace--
...         ...                ...
3455196  218620  76561197999375514
3455207  306130  76561197999375514
3455210     220  76561197999382290
3455216     420  76561197999382290
3455215     400  76561197999382290

[9000 rows x 2 columns]

In [225]:
my_functions.describe_df(df_usr_data)

Cantidad Registros:  9000
Cantidad Campos:  2

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,object,0,0.0,9000,100.0,1202,13.36
1,user_id,object,0,0.0,9000,100.0,3000,33.33

In [226]:
pd.reset_option('display.max_rows')

In [227]:
# Exportar 
# df_usr_data.to_csv('Datasets/Datasets final/df_usr_data.csv', index=False)

# Exportar 
df_usr_data.to_parquet('Datasets/Datasets final/df_usr_data.parquet', index=False)

# Exportar 
df_usr_data.to_parquet('FastAPI/Datasets/df_usr_data.parquet', index=False)

In [228]:
# Cargar el archivo Parquet en un DataFrame
# df_usr_data = pd.read_parquet('FastAPI/Datasets/df_usr_data.parquet')
# df_usr_data

## df_usr_selection

In [229]:
# Quedarse con el primer registro de cada user_id
df_usr_selection = df_usr_data.drop_duplicates(subset='user_id', keep='first')

# Imprimir el DataFrame resultante
df_usr_selection.head(15)

        game_id            user_id
1552359  304930            --000--
4527742  304930            --ace--
2353460   42690          --ionex--
3453983  239140       -2SV-vuLB-Kg
4253522  212910  -404PageNotFound-
43151     33930   -AnimeIsMyThing-
52444     39690           -Azsael-
1724393  304930            -Beave-
2144175  212680           -Encore-
30078    113400         -GM-Dragon
4537790    4000        -I_AM_EPIC-
1724709     550                -JT
2447169  205100             -Kenny
720105    12210         -KillZone-
1602360   21170              -Mad-

In [230]:
df_usr_selection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 1552359 to 3455210
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   game_id  3000 non-null   object
 1   user_id  3000 non-null   object
dtypes: object(2)
memory usage: 70.3+ KB

In [231]:
# Realizar la concatenación y el filtrado
df_usr_selection = pd.merge(df_usr_selection, df_games_selection[['game_id']], on='game_id', how='inner')

In [232]:
df_usr_selection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2435 entries, 0 to 2434
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   game_id  2435 non-null   object
 1   user_id  2435 non-null   object
dtypes: object(2)
memory usage: 38.2+ KB

In [233]:
df_usr_selection

     game_id            user_id
0     304930            --000--
1     304930            --ace--
2     304930            -Beave-
3     304930            008port
4     304930           12341846
...      ...                ...
2430  242550  76561197998937521
2431   32440  76561197999140519
2432    6020  76561197999155279
2433   24780  76561197999171631
2434  216260  76561197999247702

[2435 rows x 2 columns]

In [234]:
my_functions.describe_df(df_usr_selection)

Cantidad Registros:  2435
Cantidad Campos:  2

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,object,0,0.0,2435,100.0,490,20.12
1,user_id,object,0,0.0,2435,100.0,2435,100.00

In [235]:
my_functions.describe_df(df_usr_data)

Cantidad Registros:  9000
Cantidad Campos:  2

,Campo,Tipo de Dato,Valores Nulos,% Nulos,Valores No Nulos,% No Nulos,Valores Únicos,% Únicos
0,game_id,object,0,0.0,9000,100.0,1202,13.36
1,user_id,object,0,0.0,9000,100.0,3000,33.33

In [236]:
# Exportar 
# df_usr_selection.to_csv('Datasets/Datasets final/df_usr_selection.csv', index=False)

# Exportar 
# df_usr_selection.to_parquet('Datasets/Datasets final/df_usr_selection.parquet', index=False)

# Exportar 
# df_usr_selection.to_parquet('FastAPI/Datasets/df_usr_selection.parquet', index=False)

# Cargar el archivo Parquet en un DataFrame
# df_usr_selection = pd.read_parquet('FastAPI/Datasets/df_usr_selection.parquet')
# df_usr_selection

## Modelo

In [237]:
# Agrupar por 'user_id' y generar una lista de distintos valores de 'game_id' para cada usuario
df_usr_data_model = df_usr_data.groupby('user_id')['game_id'].agg(lambda x: list(set(x))).reset_index()

# Renombrar la columna
df_usr_data_model.rename(columns={'game_id': 'games'}, inplace=True)

In [238]:
df_usr_data_model

                user_id                     games
0               --000--    [304930, 113400, 1250]
1               --ace--  [250900, 304930, 113200]
2             --ionex--    [105600, 42690, 10190]
3          -2SV-vuLB-Kg  [294020, 338050, 239140]
4     -404PageNotFound-  [243870, 212910, 226700]
...                 ...                       ...
2995  76561197999368302     [200510, 22380, 1250]
2996  76561197999369109           [240, 320, 300]
2997  76561197999370640   [24780, 219640, 200710]
2998  76561197999375514  [306130, 226320, 218620]
2999  76561197999382290           [220, 420, 400]

[3000 rows x 2 columns]

In [239]:
# Establecer 'user_id' como índice
df_usr_data_model.set_index('user_id', inplace=True)

df_usr_data_model

                                      games
user_id
--000--              [304930, 113400, 1250]
--ace--            [250900, 304930, 113200]
--ionex--            [105600, 42690, 10190]
-2SV-vuLB-Kg       [294020, 338050, 239140]
-404PageNotFound-  [243870, 212910, 226700]
...                                     ...
76561197999368302     [200510, 22380, 1250]
76561197999369109           [240, 320, 300]
76561197999370640   [24780, 219640, 200710]
76561197999375514  [306130, 226320, 218620]
76561197999382290           [220, 420, 400]

[3000 rows x 1 columns]

In [240]:
# Exportar 
#df_usr_data_model.to_parquet('Datasets/Datasets final/df_usr_data_model.parquet', index=True)

# Exportar 
#df_usr_data_model.to_parquet('FastAPI/Datasets/df_usr_data_model.parquet', index=True)

In [241]:
# Cargar el archivo Parquet en un DataFrame
#df_usr_data_model = pd.read_parquet('Datasets/Datasets final/df_usr_data_model.parquet')

#df_usr_data_model

In [242]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MultiLabelBinarizer

In [243]:


# Convertir la columna 'games' a un formato adecuado para la similitud del coseno
mlb = MultiLabelBinarizer()
usr_matrix = mlb.fit_transform(df_usr_data_model['games'])
usr_df = pd.DataFrame(usr_matrix, index=df_usr_data_model.index)

In [244]:

# Calcular la similitud del coseno entre usuarios
cosine_sim = cosine_similarity(usr_df)

# Crear un DataFrame de similitud del coseno
df_user_similarity = pd.DataFrame(cosine_sim, index=df_usr_data_model.index, columns=df_usr_data_model.index)

In [245]:
pd.set_option('display.max_rows', None)

# Imprimir el DataFrame de similitud del coseno
df_user_similarity.head(10)

user_id,--000--,--ace--,--ionex--,-2SV-vuLB-Kg,-404PageNotFound-,-AnimeIsMyThing-,-Azsael-,-Beave-,-Encore-,-GM-Dragon,...,76561197999306529,76561197999320594,76561197999327663,76561197999330728,76561197999351396,76561197999368302,76561197999369109,76561197999370640,76561197999375514,76561197999382290
user_id,,,,,,,,,,,,,,,,,,,,,
--000--,1.000000,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.333333,...,0.0,0.0,0.0,0.0,0.000000,0.333333,0.0,0.0,0.0,0.0
--ace--,0.333333,1.000000,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
--ionex--,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
-2SV-vuLB-Kg,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
-404PageNotFound-,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
-AnimeIsMyThing-,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,0.0
-Azsael-,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
-Beave-,0.333333,0.333333,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
-Encore-,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
-GM-Dragon,0.333333,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

In [246]:
# Exportar 
df_user_similarity.to_parquet('Datasets/Datasets final/df_user_similarity.parquet', index=True)

# Exportar 
df_user_similarity.to_parquet('FastAPI/Datasets/df_user_similarity.parquet', index=True)

In [247]:
# Cargar el archivo 
# df_user_similarity = pd.read_parquet('FastAPI/Datasets/df_user_similarity.parquet')
# df_user_similarity.info()

In [248]:
df_user_similarity.shape

(3000, 3000)

## def recomendacion_usuario

In [249]:
pd.reset_option('display.max_rows')

# Cargar el archivo Parquet en un DataFrame
df_usr_data = pd.read_parquet('FastAPI/Datasets/df_usr_data.parquet')

In [250]:
# v6
def recomendacion_usuario(user_id: str, num_recommendations = 5):
    # Filtrar df_usr_data por el user_id específico
    user_games = df_usr_data[df_usr_data['user_id'] == user_id]

    # Crear la lista user_games a partir de los valores de df_usr_data
    user_games = user_games['game_id'].tolist()

    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False).index.tolist()

    # Crear DataFrame con similar_users
    df_similar_users = pd.DataFrame({'user_id': similar_users})

    # Realizar la concatenación con df_usr_selection usando el método merge
    df_concatenado = pd.merge(df_similar_users, df_usr_data, on='user_id', how='inner')

    # Filtrar las filas donde el game_id no está en user_games
    df_concatenado = df_concatenado[~df_concatenado['game_id'].isin(user_games)]

    # Utilizar merge para concatenar basándote en la columna game_id
    df_final = pd.merge(df_concatenado, df_games_names, on='game_id', how='inner')

    # Eliminar duplicados y quedarse con el primer registro
    df_final_sin_duplicados = df_final.drop_duplicates(subset='game_id', keep='first').head(num_recommendations) 
        
    recommended_games = df_final_sin_duplicados[['game_id', 'app_name', 'user_id']].to_dict(orient='records')
 
    message = f"A usuarios similares a {user_id} les gustó:"
    
    #result = message, recommended_games
    result = f"{message}", recommended_games
    
    return result

user_id = '-Encore-'
rec_usuario = recomendacion_usuario(user_id)
rec_usuario

('A usuarios similares a -Encore- les gustó:',
 [{'game_id': '42700',
   'app_name': 'Call of Duty®: Black Ops',
   'user_id': '59285912859'},
  {'game_id': '8980', 'app_name': 'Borderlands', 'user_id': '59285912859'},
  {'game_id': '42910', 'app_name': 'Magicka', 'user_id': '76561197998052647'},
  {'game_id': '15620',
   'app_name': 'Warhammer 40,000: Dawn of War II',
   'user_id': '76561197998052647'},
  {'game_id': '377160',
   'app_name': 'Fallout 4',
   'user_id': '76561197961051810'}])

In [251]:
# v5
# FUNCIONAAAAAA
# FUNCIONAAAAAA
# FUNCIONAAAAAA
# FUNCIONAAAAAA

def recomendacion_usuario(user_id: str, num_recommendations = 5):
    # Filtrar df_usr_data por el user_id específico
    user_games = df_usr_data[df_usr_data['user_id'] == user_id]

    # Crear la lista user_games a partir de los valores de df_usr_data
    user_games = user_games['game_id'].tolist()

    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False).index.tolist()

    # Crear DataFrame con similar_users
    df_similar_users = pd.DataFrame({'user_id': similar_users})

    # Realizar la concatenación con df_usr_selection usando el método merge
    df_concatenado = pd.merge(df_similar_users, df_usr_data, on='user_id', how='inner')

    # Filtrar las filas donde el game_id no está en user_games
    df_concatenado = df_concatenado[~df_concatenado['game_id'].isin(user_games)]

    # Utilizar merge para concatenar basándote en la columna game_id
    df_final = pd.merge(df_concatenado, df_games_names, on='game_id', how='inner')

    # Eliminar duplicados y quedarse con el primer registro
    df_final_sin_duplicados = df_final.drop_duplicates(subset='game_id', keep='first').head(num_recommendations) 
        
    recommended_games = df_final_sin_duplicados[['game_id', 'app_name', 'user_id']].to_dict(orient='records')
         
    result = recommended_games
    
    return result

user_id = '-Encore-'
rec_usuario = recomendacion_usuario(user_id)
rec_usuario

[{'game_id': '42700',
  'app_name': 'Call of Duty®: Black Ops',
  'user_id': '59285912859'},
 {'game_id': '8980', 'app_name': 'Borderlands', 'user_id': '59285912859'},
 {'game_id': '42910', 'app_name': 'Magicka', 'user_id': '76561197998052647'},
 {'game_id': '15620',
  'app_name': 'Warhammer 40,000: Dawn of War II',
  'user_id': '76561197998052647'},
 {'game_id': '377160',
  'app_name': 'Fallout 4',
  'user_id': '76561197961051810'}]

In [252]:
# v4
# FUNCIONAAAAAA

def recomendacion_usuario(user_id: str, num_recommendations = 5):
    
    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False).index.tolist()

    # Crear DataFrame con similar_users
    df_similar_users = pd.DataFrame({'user_id': similar_users})
    # Realizar la concatenación con df_usr_selection usando el método merge
    df_concatenado = pd.merge(df_similar_users, df_usr_selection, on='user_id', how='inner')

    # Utilizar merge para concatenar basándote en la columna game_id
    df_final = pd.merge(df_concatenado, df_games_names, on='game_id', how='inner')
    df_final

    # Eliminar duplicados y quedarse con el primer registro
    df_final_sin_duplicados = df_final.drop_duplicates(subset='game_id', keep='first').head(num_recommendations)    
    
    recommended_games = df_final_sin_duplicados[['game_id', 'app_name', 'user_id']].to_dict(orient='records')
    
    result = recommended_games
    
    return result

In [253]:
# v3

def recomendacion_usuario(user_id: str, num_recommendations = 5):
    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False).index.tolist()
    print("similar users: ", type(similar_users))
    
    # Crear DataFrame con similar_users
    df_similar_users = pd.DataFrame({'user_id': similar_users})

    # Realizar la concatenación con df_usr_selection usando el método merge
    df_concatenado = pd.merge(df_similar_users, df_usr_selection, on='user_id', how='inner')

    # Imprimir el DataFrame resultante
    # print(df_concatenado)

    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    #similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False).head(num_recommendations).tolist()
        
    # Tomar las primeras num_recommendations recomendaciones
    # recommendations = similar_users.head(num_recommendations)
    # print("RECOMMENDATIONS: ", type(recommendations))
    # print(recommendations)


    # Encontrar el usuario con la mayor correlación que no sea 1
    # most_similar_user = str(similar_users[(similar_users < 1)].idxmax())
    # print(type(most_similar_user))
    # print(most_similar_user)
    


    # result = {most_similar_user}
    # print(result)
    # print(type(result))


    result = similar_users
#    print("RESULT: ", type(result))
#    print(result)
    


    return result




    # Buscar la fila correspondiente al user_id en df_usr_selection
    #game_recommend = df_usr_selection.loc[df_usr_selection['user_id'] == most_similar_user]
    
    # Obtener el app_name para el game_id específico
    #game_recommend = df_games_names.loc[df_games_names['game_id'] == game_recommend['game_id'].iloc[0], 'app_name'].iloc[0]
    #print(app_name)

    #result = f"El usuario {user_id} es similar a {most_similar_user} a quien le gusta el juego {game_recommend}"
    #print(type(user_id))
    #print(type(most_similar_user))
    #print(type(game_recommend))

    #return result



user_id = '-Encore-'
rec_usuario = recomendacion_usuario(user_id)
rec_usuario

similar users:  <class 'list'>

['59285912859',
 '76561197998052647',
 '76561197961051810',
 '76561197997131727',
 '76561197992386426',
 '76561197992267436',
 '76561197970541216',
 '76561197986678875',
 '76561197960575139',
 '76561197997633623',
 '76561197975220344',
 '76561197991548126',
 '1011001',
 '1010102',
 '69133709',
 '76561197998076852',
 '76561197974754753',
 '76561197998095312',
 '44196',
 '76561197991286225',
 '76561197970936821',
 '76561197991055234',
 '4Elementals',
 '76561197990689648',
 '76561197990655255',
 '76561197971402201',
 '76561197976598242',
 '76561197961637426',
 '76561197976933723',
 '76561197984592889',
 '2080308',
 '76561197994404273',
 '1epicninja',
 '76561197966587792',
 '76561197994226412',
 '2364786499',
 '76561197965036285',
 '76561197993896367',
 '76561197967649169',
 '76561197995490151',
 '76561197978376932',
 '76561197983315364',
 '2ZESTY4ME',
 '76561197996008983',
 '142331415',
 '2unimaginative4u',
 '76561197996273832',
 '76561197968683994',
 '76561197984174503',
 '313134',
 '76561197993175397',
 '76561197977069916',
 '76561197977001876',
 '76561197971402877',
 '76561197976370569',
 '76561197999115544',
 '76561197999265612',
 '5438910',
 '6524696969',
 '53071407',
 '76561197998888551',
 '53112195114',
 '01001000-01101001',
 '76561197971982117',
 '544183980',
 '76561197999198805',
 '76561197983367658',
 '76561197983334514',
 '76561197983351572',
 '76561197983359562',
 '76561197983362791',
 '76561197983402043',
 '76561197983368096',
 '76561197983426224',
 '76561197983435162',
 '76561197989689547',
 '76561197983457049',
 '76561197983481010',
 '76561197983495958',
 '76561197983317906',
 '76561197983281766',
 '76561197989691928',
 '76561197983066077',
 '76561197982931050',
 '76561197982951842',
 '76561197983013308',
 '76561197983015632',
 '76561197983024314',
 '76561197983031410',
 '76561197983050009',
 '76561197983063881',
 '76561197983104537',
 '76561197983589335',
 '76561197983118258',
 '76561197983124563',
 '76561197983126861',
 '76561197983127652',
 '76561197983160235',
 '76561197983237729',
 '76561197983253510',
 '76561197983254661',
 '76561197983515647',
 '76561197983610398',
 '76561197989681913',
 '76561197982854253',
 '76561197984271449',
 '76561197984312009',
 '76561197989614797',
 '76561197984327467',
 '76561197984331424',
 '76561197984349877',
 '76561197989613574',
 '76561197984370406',
 '76561197984390941',
 '76561197984411856',
 '76561197984433623',
 '76561197984449672',
 '76561197989577001',
 '76561197984529002',
 '76561197989544310',
 '76561197984709368',
 '76561197984733626',
 '76561197984814608',
 '76561197989521267',
 '76561197989615671',
 '76561197984211461',
 '76561197984203292',
 '76561197983944271',
 '76561197983670670',
 '76561197983745201',
 '76561197983761029',
 '76561197983793259',
 '76561197983809439',
 '76561197983811335',
 '76561197983875214',
 '76561197983928044',
 '76561197983979390',
 '76561197989630498',
 '76561197989671199',
 '76561197983994890',
 '76561197989633148',
 '76561197984077872',
 '76561197984092687',
 '76561197984140648',
 '76561197984154829',
 '76561197984166032',
 '76561197982868182',
 '76561197989041822',
 '76561197982851284',
 '76561197981872729',
 '76561197981562769',
 '76561197981571612',
 '76561197981573006',
 '76561197989849461',
 '76561197981583409',
 '76561197981584787',
 '76561197981780630',
 '76561197981799903',
 '76561197981891772',
 '76561197981562253',
 '76561197981904869',
 '76561197981912358',
 '76561197981937943',
 '76561197981942488',
 '76561197981957582',
 '76561197981984391',
 '76561197989837614',
 '76561197982057921',
 '76561197989855425',
 '76561197981538010',
 '76561197982839649',
 '76561197981278253',
 '76561197989883424',
 '76561197980832325',
 '76561197980886661',
 '76561197981007982',
 '76561197981186943',
 '76561197981203305',
 '76561197981223119',
 '76561197981277493',
 '76561197981308870',
 '76561197989869899',
 '76561197981342937',
 '76561197981374310',
 '76561197981381850',
 '76561197981391132',
 '76561197981425218',
 '76561197981448997',
 '76561197981451472',
 '76561197981468927',
 '76561197982077051',
 '76561197982079779',
 '76561197989779155',
 '76561197982630470',
 '76561197982474515',
 '76561197982477990',
 '76561197982489067',
 '76561197982500076',
 '76561197982545834',
 '76561197982545852',
 '76561197982587329',
 '76561197982587661',
 '76561197982665201',
 '76561197982096874',
 '76561197982685987',
 '76561197982742447',
 '76561197989746901',
 '76561197982775710',
 '76561197982807200',
 '76561197989723505',
 '76561197982825424',
 '76561197984830126',
 '76561197982437091',
 '76561197982424065',
 '76561197982422966',
 '76561197982405185',
 '76561197982114418',
 '76561197982124018',
 '76561197982151291',
 '76561197989775873',
 '76561197982159818',
 '76561197982177820',
 '76561197982203533',
 '76561197982236384',
 '76561197982271689',
 '76561197982286681',
 '76561197982301727',
 '76561197982302189',
 '76561197982340487',
 '76561197982343797',
 '76561197982363029',
 '76561197982383570',
 '76561197982390027',
 '76561197989699885',
 '76561197984996789',
 '76561197984964353',
 '76561197987789166',
 '76561197989312512',
 '76561197987677468',
 '76561197989244929',
 '76561197987677576',
 '76561197987695793',
 '76561197987766332',
 '76561197987785712',
 '76561197987786431',
 '76561197987835955',
 '76561197988341253',
 '76561197987875464',
 '76561197987939775',
 '76561197988026168',
 '76561197988056436',
 '76561197988062821',
 '76561197988219807',
 '76561197988252796',
 '76561197988260247',
 '76561197987668797',
 '76561197987627104',
 '76561197989330670',
 '76561197989336590',
 '76561197987219262',
 '76561197987227732',
 '76561197987251274',
 '76561197989359805',
 '76561197987307155',
 '76561197987336295',
 '76561197987346930',
 '76561197987436659',
 '76561197987437609',
 '76561197987440150',
 '76561197987442366',
 '76561197987462606',
 '76561197987482998',
 '76561197987524206',
 '76561197989341723',
 '76561197987617385',
 '76561197989341677',
 '76561197988318026',
 '76561197988341825',
 '76561197984972288',
 '76561197988958915',
 '76561197988809817',
 '76561197988832553',
 '76561197988837924',
 '76561197988840650',
 '76561197988846047',
 '76561197988863895',
 '76561197989209339',
 '76561197988958304',
 '76561197988976770',
 '76561197988367411',
 '76561197989007687',
 '76561197989194013',
 '76561197989175394',
 '76561197989158421',
 '76561197989145689',
 '76561197989012314',
 '76561197989023638',
 '76561197989039660',
 '76561197988807009',
 '76561197988786035',
 '76561197988785314',
 '76561197988769914',
 '76561197988397124',
 '76561197988467116',
 '76561197988469369',
 '76561197988470639',
 '76561197988486708',
 '76561197988506370',
 '76561197988535115',
 '76561197988631415',
 '76561197988666264',
 '76561197988700509',
 '76561197988702002',
 '76561197988726778',
 '76561197988731238',
 '76561197988733215',
 '76561197988762085',
 '76561197988762135',
 '76561197989229432',
 '76561197987194204',
 '76561197987137492',
 '76561197987109775',
 '76561197986161821',
 '76561197985875038',
 '76561197986004323',
 '76561197986026151',
 '76561197986069534',
 '76561197986108771',
 '76561197986129517',
 '76561197980745829',
 '76561197986144369',
 '76561197986184111',
 '76561197987041137',
 '76561197986188587',
 '76561197989466381',
 '76561197986198928',
 '76561197986262741',
 '76561197986298494',
 '76561197986326275',
 '76561197986386291',
 '76561197986387561',
 '76561197985856321',
 '76561197985797191',
 '76561197985786682',
 '76561197985769912',
 '76561197989041572',
 '76561197985031488',
 '76561197985118743',
 '76561197985191301',
 '76561197985216768',
 '76561197985247422',
 '76561197985250410',
 '76561197985271912',
 '76561197985389455',
 '76561197985415736',
 '76561197985512782',
 '76561197985568915',
 '76561197985630636',
 '76561197985634755',
 '76561197985731320',
 '76561197985766886',
 '76561197989469116',
 '76561197986405235',
 '76561197986406898',
 '76561197986468427',
 '76561197986717785',
 '76561197986814520',
 '76561197986818258',
 '76561197986832206',
 '76561197986839680',
 '76561197986868053',
 '76561197986877386',
 '76561197986880554',
 '76561197986891235',
 '76561197986898950',
 '76561197986916169',
 '76561197986925726',
 '76561197986948702',
 '76561197986964063',
 '76561197986971102',
 '76561197986971375',
 '76561197987001534',
 '76561197987012989',
 '76561197986717840',
 '76561197986700716',
 '76561197986529825',
 '76561197989360667',
 '76561197986552181',
 '76561197986552406',
 '76561197986589850',
 '76561197986591060',
 '76561197989449545',
 '76561197986593531',
 '76561197986594271',
 '76561197986613952',
 '76561197986617937',
 '76561197986619793',
 '76561197986627690',
 '76561197989427141',
 '76561197989411794',
 '76561197986628486',
 '76561197989363919',
 '76561197986680083',
 '76561197986691701',
 '76561197980811624',
 '--000--',
 '76561197980719473',
 '76561197975163417',
 '76561197974897259',
 '76561197974898849',
 '76561197974941166',
 '76561197974961641',
 '76561197974963007',
 '76561197974968656',
 '76561197975018849',
 '76561197975074330',
 '76561197975112448',
 '76561197975257912',
 '76561197974245101',
 '76561197975296603',
 '76561197975349280',
 '76561197975369524',
 '76561197975390353',
 '76561197975452203',
 '76561197975513068',
 '76561197975513866',
 '76561197975533000',
 '76561197975589727',
 '76561197974894521',
 '76561197974893762',
 '76561197974877185',
 '76561197974875094',
 '76561197974261803',
 '76561197974288321',
 '76561197974339442',
 '76561197974394924',
 '76561197974396963',
 '76561197974400211',
 '76561197974412558',
 '76561197974465310',
 '76561197974497618',
 '76561197974500703',
 '76561197974528884',
 '76561197974550763',
 '76561197974617995',
 '76561197974649431',
 '76561197974677179',
 '76561197974745554',
 '76561197974754955',
 '76561197974790969',
 '76561197974804604',
 '76561197975627080',
 '76561197975653356',
 '76561197975675487',
 '76561197975997490',
 '76561197976038088',
 '76561197976038096',
 '76561197976038132',
 '76561197976038146',
 '76561197976038168',
 '76561197976086430',
 '76561197976108026',
 '76561197976163348',
 '76561197976176459',
 '76561197976177356',
 '76561197976198745',
 '76561197976214376',
 '76561197976258728',
 '76561197976268368',
 '76561197976298863',
 '76561197976312826',
 '76561197976356495',
 '76561197976370411',
 '76561197976404001',
 '76561197976038086',
 '76561197975995833',
 '76561197975686785',
 '76561197975995795',
 '76561197975689907',
 '76561197975700338',
 '76561197975702441',
 '76561197975722333',
 '76561197975743566',
 '76561197975759155',
 '76561197975767904',
 '76561197975843435',
 '76561197975863549',
 '76561197975867686',
 '76561197975869516',
 '76561197975889289',
 '76561197975902935',
 '76561197975905289',
 '76561197975914394',
 '76561197975959500',
 '76561197975976316',
 '76561197975995761',
 '76561197975995773',
 '76561197974253442',
 '76561197974207764',
 '76561197976452914',
 '76561197972797551',
 '76561197972678909',
 '76561197972680037',
 '76561197972695242',
 '76561197972699388',
 '76561197972701676',
 '76561197972718483',
 '76561197972752669',
 '76561197972758795',
 '76561197972760236',
 '76561197972800809',
 '76561197974206602',
 '76561197972873385',
 '76561197972880792',
 '76561197972887844',
 '76561197972888476',
 '76561197972895329',
 '76561197972903823',
 '76561197972906567',
 '76561197972908857',
 '76561197972911511',
 '76561197972646182',
 '76561197972619838',
 '76561197972609650',
 '76561197972565304',
 '76561197972282027',
 '76561197972282873',
 '76561197972286349',
 '76561197972289291',
 '76561197972350379',
 '76561197972361546',
 '76561197972384083',
 '76561197972391677',
 '76561197972402439',
 '76561197972403883',
 '76561197972415919',
 '76561197972438750',
 '76561197972443914',
 '76561197972445830',
 '76561197972452208',
 '76561197972468173',
 '76561197972468339',
 '76561197972515728',
 '76561197972516748',
 '76561197972916497',
 '76561197972922044',
 '76561197972926804',
 '76561197973647504',
 '76561197973704397',
 '76561197973723668',
 '76561197973805396',
 '76561197973809612',
 '76561197973812297',
 '76561197973942939',
 '76561197973954316',
 '76561197973987676',
 '76561197973987952',
 '76561197974025903',
 '76561197974036386',
 '76561197974046485',
 '76561197974077859',
 '76561197974144141',
 '76561197974165317',
 '76561197974166217',
 '76561197974176814',
 '76561197974180292',
 '76561197974183282',
 '76561197973688926',
 '76561197973644913',
 '76561197972975265',
 '76561197973530158',
 '76561197972996510',
 '76561197973037294',
 '76561197973111769',
 '76561197973114685',
 '76561197973131198',
 '76561197973156896',
 '76561197973196808',
 '76561197973219617',
 '76561197973237094',
 '76561197973242812',
 '76561197973290663',
 '76561197973299230',
 '76561197973306956',
 '76561197973321495',
 '76561197973331762',
 '76561197973395845',
 '76561197973439227',
 '76561197973470219',
 '76561197973525528',
 '76561197976440438',
 '76561197976455887',
 '76561197980641293',
 '76561197979144687',
 '76561197979006356',
 '76561197979007418',
 '76561197979021541',
 '76561197979024052',
 '76561197979046612',
 '76561197979081612',
 '76561197979086508',
 '76561197979108175',
 '76561197979120125',
 '76561197979146237',
 '76561197978116037',
 '76561197979214305',
 '76561197979239304',
 '76561197979266263',
 '76561197979266534',
 '76561197979315591',
 '76561197979324684',
 '76561197979325152',
 '76561197979325816',
 '76561197979343730',
 '76561197978985706',
 '76561197978973162',
 '76561197978888055',
 '76561197978871474',
 '76561197978182952',
 '76561197978192175',
 '76561197978235192',
 '76561197978237835',
 '76561197978247812',
 '76561197978343898',
 '76561197978352187',
 '76561197978409306',
 '76561197978421438',
 '76561197978426585',
 '76561197978460134',
 '76561197978531408',
 '76561197978544403',
 '76561197978745599',
 '76561197978756659',
 '76561197978779212',
 '76561197978787778',
 '76561197978806444',
 '76561197978824409',
 '76561197979383259',
 '76561197979404033',
 '76561197979426656',
 '76561197980026296',
 '76561197980074567',
 '76561197980089023',
 '76561197980184475',
 '76561197980188639',
 '76561197989888449',
 '76561197980275567',
 '76561197980298230',
 '76561197980349491',
 '76561197980386478',
 '76561197980395657',
 '76561197980417608',
 '76561197980450404',
 '76561197980485404',
 '76561197980499742',
 '76561197980540633',
 '76561197980567130',
 '76561197980614542',
 '76561197980616320',
 '76561197980617560',
 '76561197980035388',
 '76561197979998851',
 '76561197979489134',
 '76561197979956729',
 '76561197979497909',
 '76561197979520990',
 '76561197979552509',
 '76561197979566346',
 '76561197979574831',
 '76561197979580256',
 '76561197979597804',
 '76561197979713028',
 '76561197979731785',
 '76561197979741260',
 '76561197979745311',
 '76561197979796744',
 '76561197979797596',
 '76561197979807541',
 '76561197979809945',
 '76561197979837382',
 '76561197979876375',
 '76561197979906336',
 '76561197979924366',
 '76561197978171598',
 '76561197978099561',
 '76561197976470005',
 '76561197977016255',
 '76561197976921600',
 '76561197976922181',
 '76561197976931725',
 '76561197976937690',
 '76561197976939762',
 '76561197976983151',
 '76561197976984468',
 '76561197977001272',
 '76561197977009803',
 '76561197977039440',
 '76561197978096694',
 '76561197977051585',
 '76561197977058418',
 '76561197977084867',
 '76561197977114271',
 '76561197977120574',
 '76561197977139110',
 '76561197977172470',
 '76561197977174002',
 '76561197977177509',
 '76561197976915254',
 '76561197976842635',
 '76561197976834608',
 '76561197976825107',
 '76561197976498814',
 '76561197976546662',
 '76561197976546912',
 '76561197976556647',
 '76561197976561718',
 '76561197976574709',
 '76561197976602369',
 '76561197976603911',
 '76561197976630246',
 '76561197976633290',
 '76561197976651572',
 '76561197976652491',
 '76561197976659366',
 '76561197976669747',
 '76561197976706281',
 '76561197976710626',
 '76561197976736407',
 '76561197976760672',
 '76561197976806997',
 '76561197977243925',
 '76561197977246575',
 '76561197977282894',
 '76561197977705860',
 '76561197977711841',
 '76561197977744891',
 '76561197977766054',
 '76561197977767929',
 '76561197977777576',
 '76561197977799906',
 '76561197977853310',
 '76561197977901970',
 '76561197977903714',
 '76561197977922960',
 '76561197977933567',
 '76561197977975557',
 '76561197977981554',
 '76561197977991398',
 '76561197977996443',
 '76561197978008006',
 '76561197978024377',
 '76561197978029286',
 '76561197978082460',
 '76561197977711285',
 '76561197977615598',
 '76561197977301184',
 '76561197977579279',
 '76561197977316974',
 '76561197977318183',
 '76561197977332733',
 '76561197977367980',
 '76561197977385164',
 '76561197977389534',
 '76561197977404207',
 '76561197977404907',
 '76561197977418710',
 '76561197977452866',
 '76561197977470391',
 '76561197977470635',
 '76561197977471499',
 '76561197977490258',
 '76561197977507720',
 '76561197977543317',
 '76561197977544920',
 '76561197977560920',
 '76561197977578328',
 '76561197980197205',
 '76561197990238870',
 '76561197989894094',
 '76561197996383185',
 '76561197996290045',
 '76561197996295560',
 '76561197996296077',
 '76561197996300824',
 '76561197996305896',
 '76561197996313045',
 '76561197996313397',
 '76561197996328974',
 '76561197996330176',
 '76561197996385765',
 '76561197994836674',
 '76561197996405923',
 '76561197996426485',
 '76561197996426598',
 '76561197996458179',
 '76561197996460889',
 '76561197996465547',
 '76561197996500768',
 '76561197996502234',
 '76561197996509379',
 '76561197996288077',
 '76561197996262501',
 '76561197996260143',
 '76561197996235699',
 '76561197995958796',
 '76561197995961425',
 '76561197995983681',
 '76561197996007631',
 '76561197996008930',
 '76561197996010453',
 '76561197996029260',
 '76561197996051141',
 '76561197996054741',
 '76561197996074370',
 '76561197996092338',
 '76561197996120645',
 '76561197996127218',
 '76561197996156672',
 '76561197996164215',
 '76561197996190797',
 '76561197996202890',
 '76561197996206824',
 '76561197996233289',
 '76561197996524718',
 '76561197996529940',
 '76561197996529944',
 '76561197996802983',
 '76561197996827991',
 '76561197996865891',
 '76561197996868056',
 '76561197996870137',
 '76561197996890146',
 '76561197996932711',
 '76561197996933094',
 '76561197996935733',
 '76561197996935989',
 '76561197996936843',
 '76561197996957782',
 '76561197996992703',
 '76561197997032842',
 '76561197997075338',
 '76561197997093711',
 '76561197997116732',
 '76561197997118244',
 '76561197997129113',
 '76561197997129449',
 '76561197996810568',
 '76561197996768219',
 '76561197996551483',
 '76561197996767783',
 '76561197996563861',
 '76561197996569986',
 '76561197996570503',
 '76561197996571086',
 '76561197996576526',
 '76561197996591729',
 '76561197996613372',
 '76561197996614146',
 '76561197996639214',
 '76561197996644248',
 '76561197996655905',
 '76561197996666190',
 '76561197996672722',
 '76561197996685070',
 '76561197996702317',
 '76561197996722509',
 '76561197996744185',
 '76561197996745644',
 '76561197996747515',
 '76561197995939652',
 '76561197995937107',
 '76561197995933077',
 '76561197995098683',
 '76561197995108212',
 '76561197995146150',
 '76561197995146832',
 '76561197995147872',
 '76561197995163667',
 '76561197995164363',
 '76561197995164445',
 '76561197995165843',
 '76561197995167991',
 '76561197995178428',
 '76561197995192202',
 '76561197995207437',
 '76561197995211481',
 '76561197995212842',
 '76561197995215179',
 '76561197995224155',
 '76561197995247965',
 '76561197995249951',
 '76561197995284337',
 '76561197995102481',
 '76561197995096795',
 '76561197995286781',
 '76561197995090070',
 '76561197994890232',
 '76561197994892526',
 '76561197994893374',
 '76561197994920291',
 '76561197994938852',
 '76561197994940450',
 '76561197994946704',
 '76561197994950912',
 '76561197994963500',
 '76561197994969564',
 '76561197994969639',
 '76561197994995344',
 '76561197994995559',
 '76561197994996550',
 '76561197994998039',
 '76561197995014569',
 '76561197995022755',
 '76561197995023067',
 '76561197995062794',
 '76561197995285837',

In [254]:
# v2

def recomendacion_usuario(user_id: str):
    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False)

    # Encontrar el usuario con la mayor correlación que no sea 1
    most_similar_user = similar_users[(similar_users < 1)].idxmax()

    result = f"{most_similar_user}"
    return result

    # Buscar la fila correspondiente al user_id en df_usr_selection
    #game_recommend = df_usr_selection.loc[df_usr_selection['user_id'] == most_similar_user]
    
    # Obtener el app_name para el game_id específico
    #game_recommend = df_games_names.loc[df_games_names['game_id'] == game_recommend['game_id'].iloc[0], 'app_name'].iloc[0]
    #print(app_name)

    #result = f"El usuario {user_id} es similar a {most_similar_user} a quien le gusta el juego {game_recommend}"
    #print(type(user_id))
    #print(type(most_similar_user))
    #print(type(game_recommend))

    #return result

In [255]:
# v1

def recomendacion_usuario(user_id):
    # Obtener la serie de usuarios similares, excluir el game_id introducido 
    similar_users = df_user_similarity.drop(user_id).loc[:, user_id].sort_values(ascending=False)
    print(similar_users.head())

    # Encontrar el usuario con la mayor correlación que no sea 1
    most_similar_user = similar_users[(similar_users < 1)].idxmax()
    print(most_similar_user)

    # Buscar la fila correspondiente al user_id en df_usr_selection
    game_recommend = df_usr_selection.loc[df_usr_selection['user_id'] == most_similar_user]
    print(game_recommend)

    # Obtener el app_name para el game_id específico
    game_recommend = df_games_names.loc[df_games_names['game_id'] == game_recommend['game_id'].iloc[0], 'app_name'].iloc[0]
    #print(app_name)

    result = f"El usuario {user_id} es similar a {most_similar_user} a quien le gusta el juego {game_recommend}"
    
    #(game_id {game_id}) son:{recommended_games}"

    return result



user_id = '-Encore-'
recomendacion_usuario(user_id)

user_id
59285912859          0.333333
76561197998052647    0.333333
76561197961051810    0.333333
76561197997131727    0.333333
76561197992386426    0.333333
Name: -Encore-, dtype: float64
59285912859
    game_id      user_id
982  211820  59285912859

'El usuario -Encore- es similar a 59285912859 a quien le gusta el juego Starbound'